<h2>Sign up</h2>
<form action="/signup" method="post">
    <div>
      <label for="username">Username:</label>
      <input pattern=".{3,10}" required title="3 to 10 characters" id="username" type="text" name="username">
    </div>
    <div>
      <label for="password">Password:</label>
      <input pattern=".{6,20}" required title="6 to 20 characters" id="password" type="password" name="password">
    </div>
    <div>
      <input type="submit" value="Sign up">
    </div>
</form>
<p>
  <a href="/login">Login to your account &rarr;</a>
<p>
